{% extends 'user/base.html' %}

{% block content %}

    <!-- قسم الخدمات -->
    <section class="container">
        <div class="row">
            {% for service in services %}
            <div class="col-md-4">
                <div class="service-card">
                    <img src="{{ service.image_url }}" alt="{{ service.title }}">
                    <div class="service-card-body">
                        <h5>{{ service.title }}</h5>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


{%endblock%}