{% extends 'admin/base.html' %}

{% block content %}
<div class="container mt-5">
    {% include 'admin/add_service.html' with context %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Service Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.description }}</td>
                <td>
                    <!-- Update Button -->
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editeModal{{ service.id }}">
                        Update
                    </button>
                    <!-- Delete Button -->
                    <form action="{{ url_for('admin.delete_service', service_id=service.id) }}" method="POST" class="d-inline-block">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this service?')">Delete</button>
                    </form>
                </td>
            </tr>
            <!-- Include the modal for each service -->
            {% include 'admin/service_modal.html' with context %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
