<h5>=========== Breaker Properties ===========</h5>
<div class="row mb-2">
    <div class="col-2">
        <label for="rated_current" class="form-label">Rated Current (A)</label>
        <input type="number" id="rated_current" name="rated_current" class="form-control" placeholder="Rated Current">
    </div>
    <div class="col-2">
        <label for="rated_voltage" class="form-label">Rated Voltage (V)</label>
        <input type="number" id="rated_voltage" name="rated_voltage" class="form-control" placeholder="Rated Voltage">
    </div>
    <div class="col-2">
        <label for="poles" class="form-label">Number of Poles</label>
        <input type="number" id="poles" name="poles" class="form-control" placeholder="Poles">
    </div>
    <div class="col-2">
        <label for="category" class="form-label">Category</label>
        <select id="category" name="category" class="form-control">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
            <option>ddd </option>
        </select>
    </div>
</div>
