    <!-- Inverter Properties (Hidden by Default) -->
    <h5>=========== Inverter Properties ===========</h5>
        <div class="row mb-2">
            <div class="col-2">
              <label for="inverter_power" class="form-label">Power Rating (W)</label>
              <input type="number" id="inverter_power" name="inverter_power" class="form-control"  placeholder="Power Rating" >
            </div>

            <div class="col-2">
              <label for="inverter_battery_voltage" class="form-label">Battery Voltage</label>
              <input type="number" id="inverter_battery_voltage" name="inverter_battery_voltage"  class="form-control" placeholder="Battery Voltage" >
            </div>
        </div>
       <h5>Solar Charger</h5>

        <div class="row mb-2">
          <div class="col-2">
            <label for="inverter_max_pv_power" class="form-label">max Pv Power</label>
            <input type="number" id="inverter_max_pv_power" name="inverter_max_pv_power" class="form-control" placeholder="max pv power" >
          
          </div>

          <div class="col-2">
            <label for="inverter_min_pv_voltage" class="form-label">Min Pv Voltage</label>
            <input type="number" id="inverter_min_pv_voltage" name="inverter_min_pv_voltage" class="form-control" placeholder="Min Pv Voltage" >
          </div>
        <div class="col-2">
            <label for="inverter_max_pv_voltage" class="form-label">Max Pv Voltage</label>
            <input type="number" id="inverter_max_pv_voltage" name="inverter_max_pv_voltage" class="form-control" placeholder="Max Pv Voltage" >
          </div>

        </div>

        <div class="row mb-2">
          <div class="col-2">
            <label for="inverter_min_pv_current" class="form-label">Min Pv Current</label>
            <input type="number" id="inverter_min_pv_current" name="inverter_min_pv_current" class="form-control" placeholder="Min Pv Current" >
          </div>
  
        <div class="col-2">
            <label for="inverter_max_pv_current" class="form-label">Max Pv Current</label>
            <input type="number" id="inverter_max_pv_current" name="inverter_max_pv_current" class="form-control" placeholder="Max Pv Current" >
          </div>

          <div class="col-2">
            <label for="inverter_pv_charging_current" class="form-label">pv charging current</label>
            <input type="number" id="inverter_pv_charging_current" name="inverter_pv_charging_current" class="form-control" placeholder="charging current">
          </div>

        </div>
        <div class="row mb-2">

        <div class="col-2">
            <label for="inverter_mppt_voltage_min" class="form-label">MPPT voltage Min</label>
            <input type="number" id="inverter_mppt_voltage_min" name="inverter_mppt_voltage_min" class="form-control" placeholder="mppt Min" >
          </div>

          <div class="col-2">
            <label for="inverter_mppt_voltage_max" class="form-label">MPPT voltage Max</label>
            <input type="number" id="inverter_mppt_voltage_max" name="inverter_mppt_voltage_max" class="form-control" placeholder="mppt Max" >
          </div>

        </div>

<h5>Ac Charger</h5>
        
        <div class="row mb-2">

              <div class="col-2">
              <label for="inverter_max_ac_charging_current" class="form-label">Maximum Ac Charge Current</label>
              <input type="number" id="inverter_max_ac_charging_current" name="inverter_max_ac_charging_current" class="form-control" placeholder="charging current" >
              </div>
                <div class="col-2">
                  <label for="inverter_max_charging_current" class="form-label">Maximum Charge Current</label>
                  <input type="number" id="inverter_max_charging_current" name="inverter_max_charging_current" class="form-control" placeholder="charging current" >
                </div>
            </div>