<h5>=========== Panel Properties ===========</h5>
<div class="row mb-2">
    <div class="col-2">
        <label for="panel_wattage" class="form-label">Wattage (W)</label>
        <input type="number" id="panel_wattage" name="panel_wattage" class="form-control" placeholder="Wattage">
    </div>
    <div class="col-2">
        <label for="panel_dimensions" class="form-label">Dimensions (L x W)</label>
        <input type="text" id="panel_dimensions" name="panel_dimensions" class="form-control" placeholder="Length x Width">
    </div>
    <div class="col-2">
        <label for="panel_thickness" class="form-label">Thickness (m)</label>
        <input type="number" step="0.01" id="panel_thickness" name="panel_thickness" class="form-control" placeholder="Thickness">
    </div>
</div>
<div class="row mb-2">
    <div class="col-2">
        <label for="panel_voc" class="form-label">Open Circuit Voltage (Voc)</label>
        <input type="number" id="panel_voc" name="panel_voc" class="form-control" placeholder="Voc">
    </div>
    <div class="col-2">
        <label for="panel_vmp" class="form-label">Voltage at Max Power (Vmp)</label>
        <input type="number" id="panel_vmp" name="panel_vmp" class="form-control" placeholder="Vmp">
    </div>
    <div class="col-2">
        <label for="panel_isc" class="form-label">Short Circuit Current (Isc)</label>
        <input type="number" step="0.01" id="panel_isc" name="panel_isc" class="form-control" placeholder="Isc">
    </div>
</div>
