 <!-- panel Properties (Hidden by Default) -->
 <h5>=========== Panel Properties ===========</h5>
 <div class="row mb-2">
     <div class="col-2">
       <label for="panel_power" class="form-label">Power Rating (W)</label>
       <input type="number" id="panel_power" name="panel_power" class="form-control" placeholder="Power Rating"  >
     </div>

     <div class="col-2">
       <label for="panel_alpha" class="form-label">panel_alpha</label>
       <input type="number" id="panel_alpha" name="panel_alpha" class="form-control" placeholder="panel_alpha"  >
     </div>
 </div>

 <div class="row mb-2">

   <div class="col-2">
     <label for="panel_vmp" class="form-label">panel_vmp</label>
     <input type="number" id="panel_vmp" name="panel_vmp" class
   </div>

   <div class="col-2">
    <label for="panel_voc" class="form-label">panel voc</label>
    <input type="number" id="panel_voc" name="panel_voc" class="form-control" placeholder="panel voc " >
  </div>
  </div>
  <div class="row mb-2">

   <div class="col-2">
     <label for="panel_isc" class="form-label">panel_isc</label>
     <input type="number" id="panel_isc" name="panel_vmp" class="form-control" placeholder="panel_isc" >
   </div>
    <div class="col-2">
     <label for="panel_imp" class="form-label">panel_imp</label>
     <input type="number" id="panel_imp" name="panel_imp" class="form-control" placeholder="panel_imp">
   </div>

 </div>

 <div class="row mb-2">
   <div class="col-2">
     <label for="panel_length" class="form-label">panel_length</label>
     <input type="number" id="panel_length" name="panel_length" class="form-control" placeholder="panel_length" >
   </div>

   <div class="col-2">="form-control" placeholder="panel_vmp" >
    <label for="panel_width" class="form-label">panel_width</label>
    <input type="number" id="panel_width" name="panel_width" class="form-control" placeholder="panel_width" >
  </div>

  <div class="col-2">
    <label for="panel_thickness" class="form-label">panel_thickness</label>
    <input type="number" id="panel_thickness" name="panel_thickness" class="form-control" placeholder="panel_length" >
  </div>

  </div>