<h5>=========== Solar Lamp Properties ===========</h5>
<div class="row mb-2">
    <div class="col-2">
        <label for="solar_lamp_panel_capacity" class="form-label">Panel Capacity (W)</label>
        <input type="number" id="solar_lamp_panel_capacity" name="solar_lamp_panel_capacity" class="form-control" placeholder="Panel Capacity">
    </div>
    <div class="col-2">
        <label for="solar_lamp_operation_time" class="form-label">Operation Time (Hours)</label>
        <input type="number" id="solar_lamp_operation_time" name="solar_lamp_operation_time" class="form-control" placeholder="Operation Time">
    </div>
    <div class="col-2">
        <label for="solar_lamp_power" class="form-label">Lamp Power (W)</label>
        <input type="number" id="solar_lamp_power" name="solar_lamp_power" class="form-control" placeholder="Lamp Power">
    </div>
</div>
